body{
    margin: 0px;
}
img{
    width: 290px;
    height: 200px;
    max-width: 300px;
    max-height: 210px;
}
.c1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* row-gap: 10px; */
}
.c2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* row-gap: 10px; */
}

.c3{
    display: flex;
    flex-wrap: wrap;
    /* row-gap: 10px; */
}

.space-between
{
    justify-content: space-between;
}
.space-evenly
{
    justify-content: space-between;
}
.c4
{
    justify-content: space-between;
}

